<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179271894511-kq3v0gqbsjh9idr6ehk093kd7v07uvj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179271894511-kq3v0gqbsjh9idr6ehk093kd7v07uvj6</string>
	<key>API_KEY</key>
	<string>AIzaSyCB2BZ5MIfcxvI7TzU9ZE_5CceLblu3KQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>179271894511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kangsayur</string>
	<key>PROJECT_ID</key>
	<string>kangsayur-b8760</string>
	<key>STORAGE_BUCKET</key>
	<string>kangsayur-b8760.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179271894511:ios:9056325a9e333dfc36e21a</string>
</dict>
</plist>